.centrado {
    text-align: center !important;
} 

.tarjeta-contenedor {
    width:30%;
    background-color: grey;
    border-radius:  1.8em;
    padding: 0.30em;   
    align-items: end; /* esto es para que quede el texto de la tarjeta alineado al fondo */
    background-size: 150%;
    /*transform: scale(0.9);*/
}

.tarjeta-imagen {
    width: 25%;
    border-radius:  1.8em;
}

.tarjeta-descripcion {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.tarjeta-descipcion-contenedor{
    background: rgb(205, 194, 194);
    border-radius: .6em;
    padding: 4.5em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

p.tarjeta-descripcion-titulo{
    font-weight: bold;
    font-size: 1.4rem;
    margin: 0;
}

.tarjeta-descripcion-cuerpo{
    font-weight: normal;
    font-size:small ;
    color: black;
    text-decoration: none;
    font-size:  0.8rem;
    font-weight: bold;
}


/*+++++++++++++++++++++++++*/
img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute; 
}
  
.overlay_0 {
    left: 6%;
    right: 6%;
    top: 85.5% ;
    padding: .5rem;    
    background: rgba(244, 32, 142, 0.241);
}

.mi-display-bottommiddle {
    position: absolute;
    left: 27%;
    bottom: 0;
    transform: translate(-50%, -20%);
    -ms-transform: translate(-50%, 0%);
  }

.mi-display-bottommiddle-2 {
    position: absolute;
    left: 27%;
    bottom: 0;
    transform: translate(-50%, -20%);
    -ms-transform: translate(-50%, 0%);
}  

.div-transparente{
    width:85%;
    height:27%;
    bottom: 5%;
    border-radius: 20px;
    background-color: rgba(224, 91, 193, 0.497);
}

.link-a {
    color: black;
    text-decoration: none;
    font-size:  1.50rem;
    font-weight: bold;
}

@media (max-width: 768px) {
    .tarjeta-contenedor{
      width: 500px;
    }
  }
