#div1{
    background: linear-gradient(90deg,white 0%,red 20%,green 50% ,blue 100% );
}
#div2{
    background-image: url(../ASSETS/IMG/gatito.jpg);
    background-repeat: no-repeat;
    width: 500px;
    height: 450px;
    display: block;
    margin: auto;
}
#div3{
    background-image: url(../ASSETS/IMG/gatito.jpg);
    background-repeat: no-repeat;
    border: 5px solid;
    width: 500px;
    height: 450px;
    display: block;
    margin: auto;
    padding: 10px;    
}
body{
    background-image: url(../ASSETS/IMG/gatita.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
}
p{
    color: blue;
}