/*
https://www.tutorialspoint.com/css/css_paged_media.htm
https://www.tutorialspoint.com/css/css_paged_media.htm

buenísimo para entender como funciona para imprimir las hojas: 
https://www.smashingmagazine.com/2015/01/designing-for-print-with-css/
*/

@page {
    size: 210mm 297mm;
    margin-left: 15mm;
    margin-right: 15mm;
    margin-top: 23mm;
    margin-bottom: 23mm;
    /*position: fixed;*/
}

@media print {
    @page {
        size: portrait;
    }

    .print-preview {
        width: 210mm !important;
        height: 297mm !important;
        margin-left: 15mm;
        margin-right: 15mm;
        margin-top: 23mm;
        margin-bottom: 13mm;
        /*display: block;*/        
    }
}

@media print {
    .page-break {
      margin-top: 23mm;
      margin-bottom: 13mm;
      display: block;
      /*page-break-before: auto;      */
      page-break-before: always;
      page-break-after: avoid;
    }
}



@media print {
    .cabecera {
        border-style: none;
        border: none;        
        background-size: cover;
        background-image: url('assets/_a_00_DGE_plantilla_encabezado_A4_Vertical.jpg');        
        background-position: center;
        background-repeat: no-repeat;
        position: fixed;
        /*width: 2480px;*/
        /*height: 586px;*/
        width: 354px;
        height: 83px;
        top: 0mm;
        /*left: 0mm;*/
        left:60mm;
    } 
    
    .pie {
        border-style: none;
        border: none;        
        background-size: cover;
        background-image: url('assets/_a_01_DGE_plantilla_pie_de_pagina_1_Horizontal.jpg');        
        background-position: center;
        background-repeat: no-repeat;
        position: fixed;
        /*width: 3508px;*/
        /*height: 418px;*/
        width: 501px;
        height: 59px;
        top: 284mm;
        /*left: 0mm;*/
        left:35mm; 
    } 

    /*
    .cabecera:after {         
        content: ".";
        display: block; 
        text-align: center; 
    }

    .pie:after {
        content: ".";
        display: block; 
        text-align: center; 
    }*/
}



/* micro-interactions */
nav ul li a:hover::before {
    width: 35%;
}

.primary-cta:hover {
    background: #E2d1BD;    
}

.secondary-cta:hover svg {
    transform: translate(10px);
}

.secondary-cta:hover{
    text-decoration: underline;
}

.m-card:hover{
    background-size: 160%;
}

.m-card:hover .m-card-details {
    transform: translateY(-20px);
}


/*intro animation*/
.overlay {
    position: absolute;
    z-index: 999;
    background: white;
    width: 100%;
    height: 100%;
    animation: reveal 1s ease-in forwards;
    transform-origin: bottom;
}

@keyframes reveal {
    from {
        transform: scaleY(1);
    }
    to {
        transform: scaleY(0);
    }    
}

main{
    animation: growIn 2s cubic-bezier(0.075 , 0.82 , 0.165 , 1) forwards;
    transform: scale(.4);
}

@keyframes growIn{   
    to{
        transform: scale(1);
    }
}

