/*
PARA PODER EJECUTARLO HAY QUE RECORTAR EL CODIGO

A combinator is something that explains the relationship between the selectors.

A CSS selector can contain more than one simple selector. Between the simple selectors, we can include a combinator.

There are four different combinators in CSS:

descendant selector (space)
child selector (>)
adjacent sibling selector (+)
general sibling selector (~)
*/
div{
    background-color: blueviolet;
}

div p {
    background-color: yellow; /*descendant selector (space) los p que sean hijos de un div*/
}


div>p {
    background-color: yellow; /*child selector (>) no se va a aplicar si es nieto */
}


div+p {
    background-color: yellow; /*adjacent sibling selector (+) se va a aplicar al primer hermano adyacente */
}

div~p {
    background-color: yellow; /*adjacent sibling selector (+) se va a aplicar al primer hermano adyacente */
}