.btn-xs {
  padding: .25rem .4rem;
  font-size: .75rem;
  line-height: .5;
  border-radius: .1rem;
}

.column:hover .controls .control-btn,
.column:hover .controls .control-span {
  visibility: visible;
}

.controls .control-btn,
.controls .control-span {
  visibility: hidden;
}

.column {
  transition: background-color 0.3s ease;
}

.column:hover {
  background-color: #f0f0f0; /* Cambio sutil del color de fondo al pasar el cursor */
}

/* Define el estilo para la fila arrastrada */
.dragged-row {
  background-color: #f0f0f0; /* Cambia esto por el color deseado */
  /* Añade cualquier otro estilo que quieras para indicar que la fila se está arrastrando */
}
