.btn-xs {
  padding: .15rem .4rem;
  font-size: .15rem;
  line-height: .5;
  border-radius: .2rem;
}

.column:hover .controls .control-btn,
.column:hover .controls .control-span {
  visibility: visible;
}

.controls .control-btn,
.controls .control-span {
  visibility: hidden;
}

.column {
  transition: background-color 0.3s ease;
}

.column:hover {
  background-color: #f0f0f0; /* Cambio sutil del color de fondo al pasar el cursor */
}

/* Define el estilo para la fila arrastrada */
.dragged-row {
  background-color: #f0f0f0; /* Cambia esto por el color deseado */
  /* Añade cualquier otro estilo que quieras para indicar que la fila se está arrastrando */
}


/********************************/
.grid-cell {
  position: relative;
  z-index: 1; /* Asegura que este valor sea más bajo que el del menú */
}


.cell-hover-menu {
  display: none;
  position: absolute;
  z-index: 10; /* O incluso un valor más alto si es necesario */
  background-color: #f9f9f9;
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.3);
  padding: 5px;
  border-radius: 5px;
}

.cell-container:hover .cell-hover-menu {
  display: block;
}

.selected-cell {
  border-color: #007bff; /* Cambia el color del borde a un azul (puedes usar cualquier color que prefieras) */
  border-width: 2px; /* Hace el borde más grueso para que sea más notable */
  background-color: rgba(0, 123, 255, 0.2); /* Añade un ligero color de fondo azul para resaltar la celda */
}



