h1{
    color:blue;
    text-align: center;
}
h2{
    color:green;
    text-align: center;
}
p{
    color:darkred;
    text-align: end;
}
.text-justify{
    color:green;
    text-align: justify;
}

b,i{
    color:black;
}

.overline{
    text-decoration-line: overline;
    text-decoration-color: green;
    text-decoration-style: solid;
}

.line-through{
    text-decoration-line: line-through;
    text-decoration-color: blue;
    text-decoration-style: dotted;
}

.underline{
    text-decoration-line: underline;
    text-decoration-color: fuchsia;
    text-decoration-style: dashed;
}

.transformado{
    letter-spacing: 10px;
}